<p id="notice"><%= notice %></p>

<h1>Classify Layout Pattern of Web Pages</h1>

<%= render 'form' %>

<hr>

<%= link_to image_tag("#{@web_page.capture_image_path}", :width => '1366'), asset_path("#{@web_page.capture_image_path}"), {:data => {:lightbox => "lightbox-#{@web_page.id}"}} %>
<%= link_to image_tag("#{@web_page.separated_image_path}", :width => '1366'), asset_path("#{@web_page.separated_image_path}"), {:data => {:lightbox => "lightbox-#{@web_page.id}"}} %>

